/* #region |||FONTS||| */
/* SF Mono */
@font-face {
  font-family: "SF Mono";
  src: url("../fonts/sf_mono_regular.ttf");
  font-display: auto;
}
/* Calibre Regular */
@font-face {
  font-family: "Calibre Regular";
  src: url("../fonts/CalibreRegular.otf");
  font-display: auto;
}
/* Calibre SemiBold */
@font-face {
  font-family: "Calibre SemiBold";
  src: url("../fonts/CalibreSemibold.otf");
  font-display: auto;
}
/* Calibre Bold */
@font-face {
  font-family: "Calibre Bold";
  src: url("../fonts/CalibreBold.otf");
  font-display: auto;
}
/* #endregion */

/* #region Utility classes */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* #endregion */

/* #region Global style */
/* Set CSS variables */
:root {
  /* Fonts */
  --primaryFont: 'Calibre Regular', sans-serif;
  --primaryFontSB: 'Calibre SemiBold', sans-serif;
  --primaryFontB: 'Calibre Bold', sans-serif;
  --accentFont: 'SF Mono', serif;
  /* Colors: */
  /*    Schemes */
  --primary: #64ffda;
  --primaryT: rgba(100, 255, 218, 0.1);
  --accent: #f6ae2d;
  /*    Greys */
  --white: #ccd6f6;
  --greyL: #a8b2d1;
  --grey: #8892b0;
  --black2L: #233554;
  --blackL: #112240;
  --black: #0a192f;
  /* Shadow */
  --shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}
/* Set scroll behavior to smooth */
html {
  scroll-behavior: smooth;
}
/* Set global font & color */
body,
input,
input::placeholder, textarea, textarea::placeholder {
  font-family: var(--primaryFont);
  color: var(--greyL)
}
/* Disable horizontal overflow */
body {
  background-color: var(--black);
}
/* Set selection color */
::-moz-selection { /* Code for Firefox */
  background-color: var(--black2L);
  color: var(--greyL);
}
::selection {
  background-color: var(--black2L);
  color: var(--greyL);
}
a {
  color: var(--primary);
}
/* #endregion */

